*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans Display', sans-serif;
}
.header{
    background-image: url("../images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}
#banner-title{
    text-align: center;
    margin: auto;
    font-weight: 700px;
    font-size: 60px;
    color: white;
    padding-top: 120px;
}
#banner-dis{
    text-align: center;
    padding: 25px 200px;
    color: white;
    font-size: 25px;
}
.banner{
    text-align: center;
}
.btn{
    width: 200px;
    height: 60px;
    margin: 2px auto;
    background-color: rgb(70, 171, 253, .9);
    border-style: none;
    color: white;
    font-size: 22px;
    border-radius: 40px;
}

.donation{
    text-align: center;
    width: 100%;
}
.title{
    font-size: 60px;
    text-align: center;
    padding-top: 115px;
}
.donation p{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}
#italic{
    font-style: italic;
}
.amounts{
    width: 70%;
    margin: auto;
}
.amounts ul{
    list-style: none;
    display: flex;
    margin: auto;
}
.amounts ul li{
    margin: 70px auto;
    text-align: center;
    font-size: 25px;
    height: 150px;
    width: 150px;
    background-color: rgb(213, 238, 248, .7);
    border-radius: 10px;
    border: 1px solid rgb(167, 219, 253);
    line-height: 150px;
    font-weight: 800;
}
#select{
    background-color: rgba(248, 213, 213, 0.7);
    border: 1px solid rgb(253, 167, 167);
    color: rgb(255, 73, 73);
}
.form{
    width: 100%;
    margin:auto;
}
.form input{
    margin: auto;
    width: 60%;
    height: 70px;
    border: none;
    border-bottom: 2px solid rgb(57, 183, 255);
    font-size: 25px;
    text-align: center;
    background-color: rgb(57, 183, 255, .1);
    line-height: 70px;
}
#second-btn{
    margin-top: 20px;
}



.donate-plan{
    width: 100%;
    margin: auto;
}
.donate-plan p{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}
.plans{
    display: flex;
    width: 80%;
    margin: auto;
}
.plan{
    width: 350px;
    height: 280px;
    border-radius: 10px;
    margin:70px auto;
}
#one{
    background-color: rgb(52, 238, 52, .2);
}
#two{
    background-color: rgba(52, 111, 238, 0.2);
}
#three{
    background-color: rgba(238, 235, 52, 0.2);
}
.plan img{
    height: 60px;
    width: 60px;
    padding-left: 30px;
    padding-top: 50px;
}
.plan-title{
    padding-left: 30px;
    padding-top: 10px;
    font-size: 25px;
}
.plan p{
    text-align: left;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 18px;
}



.gallery{
    width: 100%;
}
.gallery-title{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.img-row{
    width: 80%;
    display: flex;
    margin: auto;
}
.img-row img{
    height: 280px;
    margin: auto;
    margin-top: 20px;
}


.blog{
    width: 80%;
    margin: 50px auto;
    display: flex;
}
.photo{
    width: 50%;
}
.photo img{
    height: 500px;
    width: 100%;
}
.description{
    width: 50%;
}
.blog-title{
    font-size: 50px;
    padding: 10px;
    padding-left: 30px;
    text-align: left;
}
.blog-des{
    text-align: justify;
    font-size: 18px;
    padding-left: 30px;
    padding-bottom: 30px;
}
#blog-btn{
    margin-left: 40px;
}



.get-update{
    margin: auto;
    width: 50%;
    margin-top: 60px;
    border-radius: 10px;
    background-color: rgba(52, 111, 238, 0.2);
}
.subs-form{
    width: 80%;
    height: 200px;
    display: flex;
    padding: 0px 50px;
    margin: auto;
}
.subs{
    width: 70%;
}
#mail{
    height: 60px;
    width: 100%;
    border: 1px solid rgb(70, 171, 253, .9);
    border-radius: 30px 0px 0px 30px;
    background-color: white;
    margin-right: 0px;
    border-style: inset;
    margin-top: 70px;
    font-size: 18px;
    padding-left: 15px;
}
.update-btn{
    height: 62px;
    width: 30%;
    text-align: center;
    color: white;
    line-height: 60px;
    border-radius: 0px 30px 30px 0px;
    border-style: none;
    background-color: rgb(70, 171, 253, .9);
    font-size: 22px;
    margin-top: 70px;
}
.footer{
    height: 200px;
    margin-top: 20px;
    background-color: black;
}
.footer h1{
    color: red;
    font-size: 65px;
    font-family: 'Lobster', cursive;
    text-align: center;
    line-height: 200px;
}