*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-image: url("../images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}
#banner-title{
    text-align: center;
    margin: auto;
    font-weight: 700px;
    font-size: 60px;
    color: white;
    font-family: 'Noto Sans Display', sans-serif;
    padding-top: 120px;
}
#banner-dis{
    text-align: center;
    padding: 25px 200px;
    color: white;
    font-size: 25px;
}
.banner{
    text-align: center;
}
.btn{
    width: 200px;
    height: 60px;
    margin: 2px auto;
    background-color: rgb(70, 171, 253, .9);
    border-style: none;
    color: white;
    font-size: 18px;
    border-radius: 40px;
}

